{% load staticfiles %}
{% load json_filter %}
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <title>{{title}}</title>
</head>
<body>
  <h1>Django.</h1>
  <div id='react'>
    <!-- Contents get replaced by mounted React.Component -->
    <i class="fa fa-lg fa-spinner fa-spin"></i><br><br>
    <i class="pending">Loading components...</i><br><br> 
  </div>
  <h1>Django.</h1>
</body>
<script>
  window.props = {{props|json}}; // make sure to escape your props to prevent XSS! See here for the source for the json filter: https://gist.github.com/pirate/c18bfe4fd96008ffa0aef25001a2e88f
  window.react_mount = document.getElementById('react');
</script>
<script src='/static/dist/{{component}}'></script>
</html>
